:root{
  --select-width: 80vw;
  --map-width: 90vw;
  --robot-width: 40vw;
  --human-width: 50vw;
  --margin: 5vw;
}

*{
  box-sizing: border-box;
  font-family: arial;
}

#selectContainer{
  width: var(--select-width);
  height: calc(var(--map-width) / 10);
  margin: 15px auto;
  text-align: center;
}

.selectCharacter{
  width: 50%;
  height: 100%;
  display: inline-block;
  float: left;
  padding: calc(var(--map-width) / 40);
  border-radius: calc(var(--map-width) / 20);
}

input{
  display: none;
}

#map{
  width: var(--map-width);
  height: var(--map-width);
  text-align: center;
  font-size: 0;
  margin: 0 auto 15px;
  padding: calc(var(--map-width) * 0.135) calc(var(--map-width) / 4) calc(var(--map-width) * 0.365);
  background-image: url('images/computer.png');
  background-size: cover;
  position: relative;
}

table{
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

td{
  width: calc(var(--map-width) / 6 - var(--map-width) / 100 * 2 / 3);
  height: calc(var(--map-width) / 6 - var(--map-width) / 100 * 2 / 3);
  padding: 0;
}

.bottomBorder{
  height: calc(var(--map-width) / 6 + var(--map-width) / 100 / 3);
  border-bottom: calc(var(--map-width) / 100) solid black;
}

.rightBorder{
  width: calc(var(--map-width) / 6 + var(--map-width) / 100 / 3);
  border-right: calc(var(--map-width) / 100) solid black;
}

td button, #restart{
  width: calc(var(--map-width) / 6 - var(--map-width) / 100 * 2 / 3);
  height: calc(var(--map-width) / 6 - var(--map-width) / 100 * 2 / 3);
  border: 0;
  padding: calc(var(--map-width) / 50);
  background-color: transparent;
}

#result{
  position: absolute;
  bottom: calc(var(--map-width) * 0.155);
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: calc(var(--map-width) / 20);
}

#restart{
  position: absolute;
  bottom: 0;
  left: calc(var(--map-width) * 0.225);
  width: calc(var(--map-width) * 0.55);
  height: calc(var(--map-width) / 10);
  padding: calc(var(--map-width) / 40);
  font-size: calc(var(--map-width) / 20);
  color: white;
}

.vertical, .horizontal{
  height: calc(var(--map-width) / 50);
  background-color: black;
  border-radius: calc(var(--map-width) / 100);
}

#diagonal1, #diagonal2{
  height: calc(var(--map-width) / 2);
}

.vertical, .horizontal, #diagonal1, #diagonal2{
  position: absolute;
  width: calc(var(--map-width) / 2);
}

.horizontal, #diagonal1, #diagonal2{
  left: calc(var(--map-width) / 4);
}

.vertical{
  top: calc(var(--map-width) * 0.127 + var(--map-width) / 4);
}

#diagonal1, #diagonal2{
  top: calc(var(--map-width) * 0.135);
  background-image: url("images/diagonal.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: none;
}

.vertical, #diagonal2{
  transform: rotate(90deg);
}

#robot, #human{
  position: absolute;
  bottom: 0;
  transition: width 0.2s, height 0.2s, opacity 0.2s;
}

#robot{
  width: var(--robot-width);
  height: calc(var(--robot-width) * 4 / 3);
  left: var(--margin);
  opacity: 0.5;
}

#human{
  width: var(--human-width);
  height: calc(var(--human-width) * 4 / 3);
  right: var(--margin);
}

@media only screen and (min-aspect-ratio: 0.5){
  :root{
    --select-width: 70vw;
    --map-width: 80vw;
    --robot-width: 31vw;
    --human-width: 39vw;
  }
}

@media only screen and (min-aspect-ratio: 0.6){
  :root{
    --select-width: 60vw;
    --map-width: 70vw;
    --robot-width: 27vw;
    --human-width: 33vw;
  }
}

@media only screen and (min-aspect-ratio: 0.7){
  :root{
    --select-width: 55vw;
    --map-width: 65vw;
    --robot-width: 23vw;
    --human-width: 27vw;
  }
}

@media only screen and (min-aspect-ratio: 0.85){
  :root{
    --select-width: 50vw;
    --map-width: 60vw;
    --robot-width: 20vw;
    --human-width: 25vw;
  }
}

@media only screen and (min-aspect-ratio: 0.9){
  :root{
    --select-width: 45vw;
    --map-width: 55vw;
  }
}

@media only screen and (min-aspect-ratio: 1){
  :root{
    --select-width: 40vw;
    --map-width: 50vw;
    --robot-width: 15vw;
    --human-width: 20vw;
  }
}

@media only screen and (min-aspect-ratio: 1.2){
  :root{
    --select-width: 35vw;
    --map-width: 45vw;
  }
}

@media only screen and (min-aspect-ratio: 1.3){
  :root{
    --select-width: 30vw;
    --map-width: 40vw;
  }
}

@media only screen and (min-aspect-ratio: 1.6){
  :root{
    --robot-width: 25vh;
    --human-width: 30vh;
    --margin: 15vh;
  }
}

@media only screen and (min-aspect-ratio: 1.8){
  :root{
    --select-width: 55vh;
    --map-width: 65vh;
  }
}
